:root {
  --bg-gradient-main: linear-gradient(135deg, #f8e9a1, #f76c6c);
  --bg-panel: rgba(255, 255, 255, 0.75);
  --color-primary: #ffe066;
  --color-secondary: #f25f5c;
  --color-tertiary: #f8b195;
  --color-text-main: #4a4a4a;
  --shadow-main: rgba(0, 0, 0, 0.1);
  --color-highlight: #fffbe7;
  --color-highlight-light: #fff9e8;
  --color-text-secondary: #777777;
  --font-main: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* chuẩn */

  -webkit-tap-highlight-color: transparent; /* Tắt highlight khi chạm trên mobile */
}

html,
body {
  overflow-x: hidden;
}

.body {
  font-family: var(--font-main);
  background: var(--bg-gradient-main);
  color: var(--color-text-main);
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.video-player-wrapper {
  background-color: var(--bg-panel);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  box-shadow: 0 12px 30px var(--shadow-main);
  /* width: 100%; */
  height: calc(100vh - 40px);
  /* max-width: 1200px; */
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 32px;
  animation: fadeIn 0.5s ease;
  flex: 2 1 0;
  transition: flex-basis 0.3s ease, flex-grow 0.3s ease;
}

/* playlist Section */
.playlist-section-container {
  background-color: var(--bg-panel);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  box-shadow: 0 12px 30px var(--shadow-main);
  height: calc(100vh - 40px);
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 32px;
  animation: fadeIn 0.5s ease;
  flex: 1 1 0;
  transition: flex-basis 0.3s ease, flex-grow 0.3s ease;
}

.video-player-wrapper {
  flex-basis: 0;
}

.playlist-section-container {
  flex-basis: 0;
  flex: 0 1 0;
  overflow-x: hidden;
  padding: 10px;
  transition: flex 0.3s ease;
}

.playlist-section-container .playlist-wrapper {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  padding: 10px;
}

.playlist-section-container.active {
  flex: 1 1 0;
}

.playlist-section-container.active .playlist-wrapper {
  visibility: visible;
  opacity: 1;
  padding: 10px;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
  max-width: 1200px;
}

/* Header: cover + info */
.video-player-container {
  align-items: center;
  position: relative;
  width: 100%;
}

.video-container {
  aspect-ratio: 16 / 9;
  background: black;
  margin: 0 auto;
  border-radius: 16px;
  width: 100%;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cover-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 8px 16px var(--shadow-main);
  border: 2px solid white;
}

.song-info-container {
  flex: 1;
  max-width: 90%;
}

.song-title-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.artist-name-text {
  font-size: 1.2rem;
  /* margin-top: 10px; */
  color: var(--color-text-secondary);
}

/* Controls Section */
.controls-section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 10px;
}

.progress-container-box {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 1rem;
}

.progress-bar-container {
  flex: 1;
  background: #ddd;
  height: 12px;
  border-radius: 12px;
  overflow: visible;
  position: relative;
}

.progress-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 14px;
  flex-grow: 1;
}

.center-button-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  flex-grow: 1;
  z-index: 100;
}

.center-button-wrapper .control-btn {
  font-size: 2.5rem;
}

.current-time-text,
.duration-text {
  width: 2.5rem;
}

/* Progress bar */
.progress-fill {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  width: 30%;
  max-width: 100%;
  height: 100%;
  border-radius: 12px;
  position: relative;
}

/* Chấm tròn kéo */
.progress-handle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 16px;
  height: 16px;
  background: var(--color-secondary);
  border-radius: 50%;
  box-shadow: 0 2px 6px var(--shadow-main);
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  z-index: 2;
}

.progress-handle:hover {
  transform: translate(50%, -50%) scale(1.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.current-time-text,
.duration-text {
  color: var(--color-text-secondary);
}

/* Controls */
.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: nowrap; /* Ensure controls stay in one row */
}

.control-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}

.setting-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 2rem;
  z-index: 2000;
}

.playlist-setting-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 2rem;
  z-index: 2001;
}

.playlist-close-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 2rem;
  z-index: 2002;
  visibility: hidden;
  opacity: 0;
}

.control-btn.active {
  opacity: 1;
}

/* Bọc nút để định vị số 1 */
.control-btn.repeat-btn.single {
  opacity: 1;
  position: relative;
}

/* Trạng thái repeat 1 bài */
.control-btn.repeat-btn.single::after {
  content: "1";
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-secondary);
  pointer-events: none;
}

.control-btn.inactive {
  opacity: 0.5;
}

.control-btn:hover,
.control-btn.single:hover {
  opacity: 0.8;
}

.control-btn.inactive:hover {
  opacity: 0.5;
}

.controls-container .control-btn:active,
.setting-btn:active,
.playlist-setting-btn:active,
.close-btn:active {
  transform: scale(0.9);
  filter: brightness(0.8);
}
.play-btn {
  font-size: 1.5rem;
  /* background: linear-gradient(135deg, var(--color-primary), var(--color-secondary)); */
  /* color: white; */
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); */
}

.playlist-wrapper {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.playlist-list {
  padding-bottom: 15vh;
}

.playlist-wrapper {
  flex: 1 1 100%;
}

.playlist-container {
  /* padding: 10px 0px; */
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.playlist-header-text {
  font-size: 1.3rem;
  color: var(--color-secondary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 15px 10px 15px;
}

.playlist-list {
  list-style: none;
}

.song-name-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
  /* border-bottom: 1px dashed #eee; */
  font-size: 1rem;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: all 0.5s ease;
}

.song-name-item:hover {
  background-color: var(--color-highlight-light);
  border-radius: 8px;
  transform: translateX(2px);
}

.song-name-item.active {
  background-color: var(--color-highlight);
  font-weight: bold;
  color: var(--color-secondary);
  border-radius: 8px;
}

.song-title,
.song-duration {
  pointer-events: none;
}
.playlist-wrapper .song-title,
.playlist-wrapper .song-duration {
  pointer-events: none;
  height: 20px;
  line-height: 20px;
}

.song-title,
.artist-name {
  max-width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding: 0px 0; */
}

.playlist-wrapper .song-title {
  max-width: 85%;
}

/* Custom Scrollbar */
.playlist-container::-webkit-scrollbar,
.modal-main::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

.playlist-container::-webkit-scrollbar-track,
.modal-main::-webkit-scrollbar-track {
  background: var(--color-highlight); /* Track matches highlight color */
  border-radius: 10px;
  margin: 5px; /* Add some margin to avoid edges */
}

.playlist-container::-webkit-scrollbar-thumb,
.modal-main::-webkit-scrollbar-thumb {
  background: var(--color-tertiary); /* Thumb uses accent color */
  border-radius: 10px;
  border: 2px solid var(--color-highlight); /* Border for contrast */
}

.playlist-container::-webkit-scrollbar-thumb:hover,
.modal-main::-webkit-scrollbar-thumb:hover {
  background: var(
    --color-primary
  ); /* Hover effect with alternate accent color */
}

/* Firefox scrollbar support (simpler, as Firefox has limited customization) */
.playlist-container,
.modal-main {
  scrollbar-color: var(--color-tertiary) var(--color-highlight); /* Thumb and track */
  scrollbar-width: thin;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Modal Styles */
.modal {
  position: fixed;
  inset: 0;
  display: flex; /* giữ luôn ở đây */
  justify-content: flex-start;
  align-items: end;
  z-index: 1000;
  background: var(--shadow-main);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  padding: 70px;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-content {
  background: var(--color-highlight-light);
  border-radius: 20px;
  width: 90%;
  max-width: 600px;
  height: 600px;
  box-shadow: 0 10px 30px var(--shadow-main);
  font-family: var(--font-main);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  /* padding: 1rem 0; */
}

.modal-content * {
  width: 100%;
}
.modal h5 {
  color: var(--color-secondary);
  /* margin-top: 20px; */
}

.modal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; /* Thêm dòng này để header kéo dài toàn phần */
  height: 4rem;
  z-index: 1001;
  display: flex;
  justify-content: flex-end; /* Đẩy nút sang phải */
  align-items: center;
  padding: 0 1rem;
}

/* Close Button */
.close-btn {
  background: transparent;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 1.6rem;
  color: var(--color-secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  max-height: 65vh;
  padding: 1rem;
  overflow-y: auto;
}
/* Volume */
.modal .volume-control-container {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  width: 100%;
  flex: 0 0 auto;
  justify-content: center;
}

.modal .icon-volume {
  font-size: 1.4rem;
  color: var(--color-secondary);
  width: 40px;
  text-align: start;
}

.volume-slider {
  accent-color: var(--color-secondary);
  height: 8px;
  border-radius: 50%;
}

/* Theme Samples */
.theme-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
  align-items: stretch;
  padding-bottom: 15vh;
}

.theme-sample {
  aspect-ratio: 3 / 2;
  padding: 1rem;
  background: var(--color-tertiary);
  color: var(--color-text-main);
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-main);
  cursor: pointer;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.theme-sample:hover {
  transform: translateY(-2px);
  background: var(--color-secondary);
  color: white;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .video-player-wrapper {
    padding: 16px;
    max-width: 95vw;
    /* height: auto; */
    /* max-height: 90vh; */
    /* border-radius: 0; */
    margin: 0;
  }

  .video-player-container {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .cover-image {
    width: 60px;
    height: 60px;
    border-width: 2px;
  }

  .song-title-text {
    font-size: 1.8rem;
    /* text-align: center; */
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
  }

  .artist-name-text {
    font-size: 1rem;
    /* text-align: center; */
    height: 2rem;
    line-height: 2rem;
  }

  .controls-section-container {
    gap: 16px;
  }

  .progress-container-box {
    font-size: 0.9rem;
  }

  .progress-container-box,
  .progress-bar-wrapper {
    gap: 5px;
  }

  .progress-bar-container {
    height: 10px;
  }

  .controls-container {
    flex-wrap: nowrap; /* Keep controls in one row */
    gap: 8px; /* Reduce gap */
    padding: 8px 0;
    justify-content: center;
  }

  .control-btn {
    width: 30px; /* Smaller buttons */
    height: 30px;
    font-size: 1rem;
  }

  .play-btn {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .volume-control-container {
    flex: 0 0 auto;
    gap: 6px;
  }

  .icon-volume {
    font-size: 1.2rem;
  }

  .playlist-container {
    flex: 1 1 100%;
    /* padding: 16px; */
    /* max-height: 200px; */
  }

  .playlist-header-text {
    font-size: 1.1rem;
    /* margin-bottom: 8px; */
  }

  .song-name-item {
    font-size: 0.95rem;
    padding: 16px 10px;
  }

  /* Improve touch interactions */
  .control-btn,
  .song-name-item {
    touch-action: manipulation;
  }

  .playlist-container {
    -webkit-overflow-scrolling: touch;
  }

  /* Custom Scrollbar for Mobile */
  .playlist-container::-webkit-scrollbar {
    width: 6px; /* Thinner for mobile */
  }

  .playlist-container::-webkit-scrollbar-track {
    background: var(--color-highlight);
    border-radius: 8px;
    margin: 4px;
  }

  .playlist-container::-webkit-scrollbar-thumb {
    background: var(--color-tertiary);
    border-radius: 8px;
    border: 1px solid var(--color-highlight);
  }

  .playlist-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }

  .playlist-container {
    scrollbar-color: var(--color-tertiary) var(--color-highlight);
    scrollbar-width: thin;
  }
}

/* Extra small screens (below 480px) */
@media (max-width: 480px) {
  body {
    padding: 0px !important;
    position: relative !important;
    display: block !important;
    flex-direction: unset !important;
    align-items: unset !important;
    justify-content: unset !important;
  }
  .video-player-wrapper {
    padding: 0px;
    height: 100vh;
    max-width: 100vw;
    border-radius: 0px;
  }
  .video-container {
    border-radius: 0px;
  }

  .playlist-section-container {
    position: absolute;
    z-index: 999;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
    transition: left 0.4s ease-in-out;
  }

  .playlist-section-container.active {
    left: 0;
  }

  .playlist-section-container .playlist-close-btn {
    visibility: visible;
    opacity: 1;
  }

  .cover-image {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .song-title-text {
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: 1.5rem;
  }

  .artist-name-text {
    font-size: 0.9rem;
    line-height: 1.5rem;
    height: 1.5rem;
  }

  .control-btn {
    width: 20px; /* Even smaller buttons */
    height: 20px;
    font-size: 1rem;
  }
  .playlist-setting-btn,
  .setting-btn,
  .playlist-close-btn {
    font-size: 1.5rem;
  }

  .progress-container-box,
  .progress-bar-wrapper {
    gap: 2px;
  }

  .current-time-text,
  .duration-text {
    width: 2.2rem;
  }

  .close-btn {
    font-size: 1.6rem;
  }

  .play-btn {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .volume-control-container {
    gap: 4px;
  }

  .icon-volume {
    font-size: 1rem;
  }

  .song-name-item {
    font-size: 0.9rem;
    padding: 5px 8px;
  }
  .song-name-item {
    padding: 14px 8px;
  }

  /* Custom Scrollbar for Extra Small Screens */
  .lyrics-box-container::-webkit-scrollbar,
  .playlist-container::-webkit-scrollbar {
    width: 5px; /* Even thinner for small screens */
  }

  .lyrics-box-container::-webkit-scrollbar-track,
  .playlist-container::-webkit-scrollbar-track {
    background: var(--color-highlight);
    border-radius: 8px;
    margin: 3px;
  }

  .lyrics-box-container::-webkit-scrollbar-thumb,
  .playlist-container::-webkit-scrollbar-thumb {
    background: var(--color-tertiary);
    border-radius: 8px;
    border: 1px solid var(--color-highlight);
  }

  .lyrics-box-container::-webkit-scrollbar-thumb:hover,
  .playlist-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }
}
